/* Box Sizing */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Type Rhythm */
html {
  font-size: 100%;
  line-height: 1.5rem;
  color: black;
  background-color: white;
  font-family: 'Lato', 'Helvetica', sans-serif;;
}

*, *:before, *:after {
  font-size: inherit;
  line-height: inherit;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* Clean up */
button {
  margin: 0;
}

/* Layout */

html, body {
  margin: 0;
}

main {
  max-width: 50rem;
  margin: 3em auto;
}

/* Components */
.Button {
  text-decoration: none;
  border: none;
  border-radius: 0.25em;
  padding: 1em;
}

.Button-dark {
  background-color: #261C25;
  color: white;
}

.Masthead {
  background-color: #bbb;
  padding: 1em;
}

.Masthead-dark {
  background-color: #4D394B;
  color: #AB9BA9;
}